<router-outlet></router-outlet>

<v-cta-volunteer></v-cta-volunteer>

<section class="sh-footer-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="footer-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-md-push-4 col-lg-4 col-lg-push-4 sh-social-icon">
                            <ul class="list-inline">
                                <li>
                                    <a href="">
                                        <i class="fab fa-github"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fab fa-telegram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fab fa-twitter-square"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-push-4 col-lg-4 col-lg-push-4 sh-email">
                            <a href="mailto:hello@semakhadis.com?subject=Just want to say Hi">hello@semakhadis.com</a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-md-pull-8 col-lg-4 col-lg-pull-8 sh-copyright">
                            <ul class="list-inline">
                                <li>
                                    <i class="fas fa-copyright"></i> 2018 Semak Hadis. |
                                </li>
                                <li>
                                    <a routerLink="/about">About</a>
                                </li>
                                <li>
                                    <a routerLink="/contact-us">Volunteer</a>
                                </li>
                                <!-- <li>
                                    <a routerLink="/donation">Donation</a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
