@import '~scss/base/variables';

.sh-hadith-item-section {
    .panel-hadith-body {
        h4 {
            margin-top: 0;
            line-height: 1.3;
        }

        .sh-content {
            .sh-key {
                text-transform: uppercase;
                color: $base-color-2;
                letter-spacing: 0.7px;
                margin-top: 50px;
            }

            .sh-value {
                font-weight: 400;

                > li {
                    font-size: 15px;
                    padding: 5px 0;
                }

                &.sh-arabic-text {
                    font-family: $font-family-arabic;
                    text-align: right;
                    font-size: 22px;
                    word-spacing: 5px;
                }

                &.sh-html-render {
                    background-color: $gray-100;
                    border-radius: 6px;
                    padding: 20px;
                }
            }
        }
    }
}
