.ngx-carousel-default {
    .ngxcarousel-items {
        .item {
            position: relative;
            background-color: $white;
            border-radius: 4px;
            box-shadow: 0 2px 9px 0 rgba(5, 5, 5, 0.12);
        }

        .item + .item {
            margin-left: 20px;
        }
    }

    .btn-prev,
    .btn-next {
        color: $base-color-1;
        background-color: rgba($white, 0.9);
        border-radius: 100px;
        box-shadow: 0 2px 9px 0 rgba(5, 5, 5, 0.12);
        position: absolute;
        top: 50%;
        margin: 0 5px;
        transition: all 200ms;

        &:hover {
            background-color: $white;
            transform: scale(1.1);
        }
    }

    .btn-prev {
        left: 0;
    }

    .btn-next {
        right: 0;
    }

    .ngxcarouselPointDefault {
        .ngxcarouselPoint {
            li {
                background-color: darken($body-bg, 10%) !important;
                margin: 0 3px;

                &.active {
                    background-color: $base-color-1 !important;
                    transform: scale(1) !important;
                }
            }
        }
    }
}
