<section class="sh-hadith-next-prev">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 sh-prev">
                        <a href="">
                            <p>
                                <i class="fas fa-chevron-left"></i> Previous</p>
                            <p>Barangsiapa berhaji ke Baitullah dan tidak menziarahiku</p>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 sh-next">
                        <a href="">
                            <p>Next
                                <i class="fas fa-chevron-right"></i>
                            </p>
                            <p>Tuntutlah Ilmu Walau ke negara China</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
