@import '~scss/mixins/mixins';
@import '~scss/base/variables';

.sh-cta-volunteer-section {
    .cta-body {
        position: relative;
        top: 0;
        background-color: $default-color;
        border-radius: 6px;
        padding: 50px;
        transition: all 0.3s;

        @include media-breakpoint-down(md) {
            padding: 30px;
        }

        h4 {
            font-size: 30px;
            margin: 0;
        }

        p {
            font-size: 14px;
            margin-top: 15px;
            opacity: 0.7;
            line-height: 1.5;
        }

        &:hover {
            top: -2px;
            box-shadow: 0 4px 0 0 rgba(207, 207, 207, 0.5);
        }
    }
}
