<v-banner-title [title]="'Contact Us'"></v-banner-title>
<section class="sh-contact-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                <div class="panel">
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label class="control-label">Name</label>
                                <input type="text" class="form-control" placeholder="Name">
                            </div>

                            <div class="form-group">
                                <label class="control-label">Email Address</label>
                                <input type="email" class="form-control" placeholder="Your Email">
                            </div>

                            <div class="form-group">
                                <label class="control-label">Topic</label>
                                <select class="form-control">
                                    <option>Bug</option>
                                    <option>Suggestion</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Subject</label>
                                <input type="email" class="form-control" placeholder="Your Email">
                            </div>

                            <div class="form-group">
                                <label class="control-label">Full description</label>
                                <textarea class="form-control" rows="5"></textarea>
                            </div>

                            <button class="btn btn-secondary pull-right">Send Your Feedback</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 hidden-xs hidden-sm">
                <h3>We’re here to help you out.</h3>
                <p>If you have any questions, just reach out to us and we’ll respond as soon as we can. Please provide as much
                    information as possible.</p>
            </div>
        </div>
    </div>
</section>
