<div class="sh-auth">
    <h2>Log Into My Account</h2>
    <form>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Your Email">
        </div>

        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password">
        </div>

        <a routerLink="/auth/forgot-password" class="pull-left">Forgot Password?</a>
        <button class="btn btn-base pull-right">Log In
            <i class="fas fa-chevron-right"></i>
        </button>
        <div class="clearfix"></div>
    </form>

</div>
