$white: #ffffff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #312d2d;
$black-scorpion: #5b5b5b;
$base-color-1: #28c0a9;
$base-color-2: #2ca4ab;
$base-gradient-color: linear-gradient(-57deg, #28c0a9 0%, #2ca4ab 100%);

$primary-color: $base-color-1;
$secondary-color: #f4e8b8;

$font-family-base: 'Colfax', 'Open Sans', sans-serif;

$line-height-computed: 40px;
$navbar-height: 70px;

$border-radius-base: 6px;
$border-radius-large: 6px;
$border-radius-small: 3px;
