$white: #ffffff;
$black: #312D2D;
$black-scorpion: #5B5B5B;
$base-color-1: #28C0A9;
$base-color-2: #2CA4AB;
$base-gradient-color: linear-gradient(-57deg, #28C0A9 0%, #2CA4AB 100%);
$secondary-color: #F4E8B8;