@import '~scss/bs/bs';
@import '~scss/mixins/mixins';
@import '~scss/base/variables';

.sh-app-download {
    margin-top: 60px;
    position: relative;

    img {
        width: 150px;
        transition: transform 200ms ease-out;

        &:hover {
            transform: scale(1.05);
        }
    }
}
