<div class="row hidden-xs">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul class="list-unstyled list-inline sh-app-download">
            <li>
                <a href="">
                    <img src="../../../../assets/images/google-play.png" alt="google play"/>
                </a>
            </li>
            <li class="coming-soon">
                <a href="">
                    <img src="../../../../assets/images/app-store.png" alt="app store"/>
                </a>
            </li>
        </ul>
    </div>
</div>
