<div class="row hidden-xs">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul class="list-unstyled list-inline sh-app-download">
            <li>
                <a href="https://play.google.com/store/apps/details?id=com.kusyuk.dev.kempensemakhadis" target="_blank" rel="noopener noreferrer">
                    <img src="/assets/images/google-play.png" alt="google play" />
                </a>
            </li>
            <li>
                <a href="https://itunes.apple.com/us/app/semak-hadis/id1357956478" target="_blank" rel="noopener noreferrer">
                    <img src="/assets/images/app-store.png" alt="app store" />
                </a>
            </li>
        </ul>
    </div>
</div>
