<nav class="navbar navbar-sh navbar-light">
    <div class="container-fluid">
        <input type="checkbox" id="navbar-toggle-cbox">
        <div class="navbar-header">
            <label for="navbar-toggle-cbox" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                (click)="toggleHamburger()" aria-controls="navbar">
                <div class="hamburger hamburger--elastic-r" [ngClass]="{ 'is-active': hamburgerIsActive }" aria-label="Menu" aria-controls="navbar">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </div>
            </label>
            <a routerLinkActive="active" class="navbar-brand" routerLink="/" [routerLinkActiveOptions]="{ exact: true }">Brand</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">Link
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li>
                    <a href="#">Link</a>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a routerLinkActive="active" routerLink="/about">About</a>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="/contact-developer">Contact</a>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="/faq">Faq</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>
