<nav class="navbar navbar-sh" [ngClass]="currentRoute === '/' ? 'navbar-light' : 'navbar-base'">
    <div class="container-fluid">
        <input type="checkbox" id="navbar-toggle-cbox">
        <div class="navbar-header">
            <label for="navbar-toggle-cbox" class="navbar-toggle collapsed"
                   data-toggle="collapse" data-target="#navbar"
                   aria-expanded="false" aria-controls="navbar"
                   (click)="toggleHamburger()">
                <span class="hamburger hamburger--elastic-r" aria-label="Menu" aria-controls="navbar"
                      [ngClass]="{ 'is-active': hamburgerIsActive }">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </span>
            </label>
            <a routerLinkActive="active" class="navbar-brand" routerLink="/"
               [routerLinkActiveOptions]="{ exact: true }">
                <div class="logo"></div>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <form class="navbar-left sh-form hidden-xs hidden-sm" *ngIf="currentRoute !== '/'">
                <v-hadith-search></v-hadith-search>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li routerLinkActive="active">
                    <a routerLink="/about">About</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/kitab">Kitab</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/hadith">Hadith</a>
                </li>
                <!-- <li routerLinkActive="active">
                    <a routerLink="/donation">Donation</a>
                </li> -->
                <li routerLinkActive="active">
                    <a routerLink="/contact-us">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>
