<nav class="navbar navbar-sh" [ngClass]="isIndexRoute() ? 'navbar-light' : 'navbar-base'">
    <div class="container-fluid">
        <input type="checkbox" id="navbar-toggle-cbox">
        <div class="navbar-header">
            <label for="navbar-toggle-cbox" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                (click)="toggleHamburger()" aria-controls="navbar">
                <span class="hamburger hamburger--elastic-r" [ngClass]="{ 'is-active': hamburgerIsActive }" aria-label="Menu" aria-controls="navbar">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </span>
            </label>
            <a routerLinkActive="active" class="navbar-brand" routerLink="/" [routerLinkActiveOptions]="{ exact: true }">Semak Hadis</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <form class="navbar-left sh-form hidden-xs hidden-sm" *ngIf="!isIndexRoute()">
                <v-hadith-search></v-hadith-search>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a routerLinkActive="active" routerLink="/about">About</a>
                </li>
                <li>
                    <a>Kitab</a>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="/hadith">Hadith</a>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="/donation">Donation</a>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="/faq">FAQ</a>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="/contact-developer">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>
