<v-banner-title [title]="'About Us'"></v-banner-title>
<section class="sh-about-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel">
                    <div class="panel-body">
                        <p>Laman web ini ialah laman web Bahasa Malaysia untuk semakan hadis. Tim semakhadis.com berusaha menghimpunkan
                            semakan-semakan hadis dari sumber yang dipercayai bagi rujukan umat Islam. Setiap hadis yang
                            ada di website ini disertakan dengan sumber rujukan bagi membolehkan semakan dilakukan. Orang
                            awam boleh membuat pertanyaan dan pembetulan menggunakan borang maklumbalas yang kami sediakan.
                        </p>

                        <p>
                            Sumber kami adalah daripada rujukan seperti berikut :
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
