@import '~scss/bs/bs';
@import '~scss/mixins/mixins';
@import '~scss/base/variables';

.form-group {
    margin-bottom: 0;
}

.form-control {
    height: 100%;
    border: 0;
    font-weight: 100;
    padding-left: 30px;
    background-color: rgba($white, 0.28);
    color: $secondary-color;
    @include placeholder($white);
    @include form-control-focus(transparent);
}

.btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0 0 7px 0 rgba(46, 172, 170, 0.61);

    @include media-breakpoint-down(sm) {
        position: relative;
        width: 100%;
        height: 70px;
        box-shadow: 0 3px 0 0 #c2ad58;
    }
}
