<section class="sh-hadith-widget-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-heading clearfix">
                    <h4 class="section-title pull-left">Hadis Terkini</h4>
                    <a class="section-link pull-right" href="">View More
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <ngx-carousel [inputs]="HADITH_CAROUSEL" class="sh-carousel-hadith ngx-carousel-default">
                            <ngx-item NgxCarouselItem *ngFor="let hadith of state.hadiths">
                                <a routerLink="hadith/{{ hadith.slug }}">
                                    <div class="carousel-header">
                                        <h4 class="carousel-title pull-left">{{ hadith.title }}</h4>
                                        <i class="fas fa-chevron-right pull-right"></i>
                                        <div class="clearfix"></div>
                                        <p class="carousel-sub">{{ hadith.created_at | differenceInCalendarWeeks }}</p>
                                    </div>
                                    <div class="carousel-body">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, rem dolores ipsa
                                            velit perspiciatis animi laboriosam excepturi eum sint!</p>
                                    </div>
                                </a>
                            </ngx-item>
                            <button NgxCarouselPrev class="btn btn-prev">
                                <i class="fas fa-chevron-left"></i>
                            </button>
                            <button NgxCarouselNext class="btn btn-next">
                                <i class="fas fa-chevron-right"></i>
                            </button>
                        </ngx-carousel>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
