<section class="sh-hadis-widget-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-heading clearfix">
                    <h4 class="section-title pull-left">Hadis Terkini</h4>
                    <a class="section-link pull-right" href="">View More
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        Hadis 1
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        Hadis 2
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        Hadis 3
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        Hadis 4
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
