<section class="sh-hero-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1 class="hero-title">Semak status hadis sebelum sebar</h1>
                <p class="hero-sub">“Sesiapa yang berdusta atasku dengan sengaja, maka siaplah tempat duduknya dalam neraka.”</p>
                <p class="hero-sub">- Riwayat al-Bukhari (122) dan Muslim (3)</p>

                <form class="sh-form-search">
                    <v-hadith-search></v-hadith-search>
                    <span class="help-block text-left">Contoh carian
                        <a href="">solat</a>,
                        <a href="">quran</a>,
                        <a href="">puasa</a>,
                        <a href="">zina</a>,
                        <a href="">صِيَاحَ</a>
                    </span>
                </form>
            </div>
        </div>
    </div>
</section>
